html {
    background-color: royalblue;
}

body {
    text-align: center;
    background-image: url(https://zalarieunique.ru/images/clipart-library-spring-17.png);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.ouch {
    background: black;
    color: white;
    opacity: 0.9;
    border-radius: 30px;
    text-align: center;
    font-size: 35px;
    width: 150px;
    height: 50px;
    z-index: 2;
}

.stage {
    background: black;
    color: white;
    opacity: 0.9;
    border-radius: 10px;
    text-align: center;
    font-size: 35px;
    width: 250px;
    height: 50px;
    z-index: 1;
}

canvas {
    position: relative;
    top: -1040px;
}

section {
    position: relative;
    top: -15px;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.win {
    background-color: green;
    width: 57%;
    height: 580px;
    margin-left: 23%;
    margin-top: -52px;
    z-index: 1;
}


button {
    background-color: black;
    color: azure;
    font-size: 20px;
    width: 200px;
    height: 40px;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    font-family: Apple Chancery, cursive;
    margin-top: 15px;
}

.hide {
    opacity: 0.2;
}

h3 {
    font-family: Georgia, serif;
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

.inln {
    display: inline;
}

#time {
    margin-left: -10px;
}

#sc {
    margin: 50px;
}

.heart {
    margin: -20px;
}

.fa-heart {
    color: #f00f15;
}

.over1 {
    background-color: red;
    width: 50%;
    height: 500px;
    margin-left: 25%;
    margin-top: -400px;
}

#Over img {
    margin-top: 50px;
}

.hide1 {
    visibility: hidden;
}

@media screen and (min-width:401px) and (max-width:435px) {

    html,
    body {
        background-size: 130% 38%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    canvas {
        width: 93%;
        height: 550px;
        margin-top: -35px;
    }

    section {
        font-size: 15px;
        margin-top: 50px;
    }

    #time {
        margin-left: -10px;
    }

    #sc {
        margin: 30px;
    }

    .heart {
        margin: 0px;
    }

    .heading {
        margin-top: 20px;
    }

    .win {
        width: 100%;
        height: 500px;
        margin-left: 0%;
        margin-top: -52px;
        z-index: 1;
    }
    
    .over1 {
        width: 100%;
        height: 500px;
        margin-left: 0;
        margin-top: -465px;
    }
    
}

@media screen and (max-width:400px) {

    html,
    body {
        background-size: 130% 35%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    canvas {
        width: 93%;
        height: 500px;
        margin-top: -40px;
    }

    section {
        font-size: 15px;
        margin-top: 40px;
    }

    #time {
        margin-left: 10px;
    }

    #sc {
        margin: 10px;
    }

    .heart {
        margin: 0px;
    }

    .heading {
        margin-top: 10px;
    }

    .over1 {
        width: 100%;
        height: 500px;
        margin-left: 0;
        margin-top: -475px;
    }
    
    .win {
         width: 100%;
        height: 470px;
        margin-left: 0%;
        margin-top: -25px;
        z-index: 1;
    }
    
    .ouch {
        margin-top:-20;
        margin-left: -300""
    }
}
